In [1]:
import pandas as pd
import numpy as np

In [14]:
df= pd.read_csv('training.csv')
df.head()

,Unnamed: 0,SeriousDlqin2yrs,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents
0,1,1,0.766127,45,2,0.802982,9120.0,13,0,6,0,2.0
1,2,0,0.957151,40,0,0.121876,2600.0,4,0,0,0,1.0
2,3,0,0.658180,38,1,0.085113,3042.0,2,1,0,0,0.0
3,4,0,0.233810,30,0,0.036050,3300.0,5,0,0,0,0.0
4,5,0,0.907239,49,1,0.024926,63588.0,7,0,1,0,0.0

In [10]:
df.drop(columns=[

       ,SeriousDlqin2yrs,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents
0        1,1,0.766126609,45,2,0.802982129,9120,13,0,6,0,2
1         2,0,0.957151019,40,0,0.121876201,2600,4,0,0,0,1
2          3,0,0.65818014,38,1,0.085113375,3042,2,1,0,0,0
3         4,0,0.233809776,30,0,0.036049682,3300,5,0,0,0,0
4          5,0,0.9072394,49,1,0.024925695,63588,7,0,1,0,0
...                                                   ...
149995  149996,0,0.040673864,74,0,0.22513089,2100,4,0,...
149996  149997,0,0.299745148,44,0,0.71656222,5584,4,0,...
149997       149998,0,0.246043918,58,0,3870,NA,18,0,1,0,0
149998                   149999,0,0,30,0,0,5716,4,0,0,0,0
149999  150000,0,0.850282951,64,0,0.249908077,8158,8,0...

[150000 rows x 1 columns]